.navbar {
    background-color: white;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  .navbar-logo img {
    width: 10rem;
    height: 5rem;
    object-fit: contain;
  }
  
  .navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  .navbar-menu li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .navbar-menu li a:hover {
    color: var(--secondary-color);
  }