.navbar {
  color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona a sombra */

}


  .navbar-logo img {
    width: 10rem;
    height: 5rem;
    object-fit: contain;
  }
  
  .navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  .navbar-menu li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .navbar-menu li a:hover {
    color: var(--secondary-color);
  }

  .navbar span {
    color: var(--secondary-color)
  }

  .logout-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.logout-button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

.logout-button:active {
    background-color: var(--primary-color);
    transform: scale(0.95);
}